.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #1a8f5e;
  align-items: center;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Forms */
.form {
  width: 100%;
  font-family: 'muli';
}

.form_group {
  margin: 1.2rem 0;
}

.form_text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
  position: relative;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form select {
  display: inline-block;
  width: 60%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
  align-self: center;
}

.form_textarea {
  display: inline-block;
  width: 60%;
  padding: 0.4rem;
  font-size: 1rem;
  border: 1px solid #ccc;
}

.form_textarea_i {
  padding-top: 0.6rem;
  padding-left: 0.5rem;
  position: fixed;
}
.form_textarea_i:hover {
  color: #00fcb6;
  cursor: pointer;
}

.container {
  max-width: 900px;
  text-align: center;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
  background-color: rgba(255, 255, 255, 1);
  position: center;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.btn_primary {
  display: inline-block;
  background: #1a8f5e;
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  font-weight: bolder;
}

.btn_primary:hover {
  background: #21885d;
  color: rgb(159, 218, 151);
  font-weight: bolder;
}

.my-1 {
  margin: 1rem 0;
}
