.ticket-inner {
  background-color: rgba(250, 247, 247, 0.95);
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  position: center;
  width: 60%;
  margin: 6rem;
  margin-left: 14rem;
  text-align: center;
  justify-content: center;
}
.ticket-details {
  background-color: rgba(250, 247, 247, 0.95);
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  position: center;
}

.form {
  width: 100%;
  font-family: 'muli';
}

.seat_dark_overlay {
  background-color: rgba(250, 247, 247, 1);
  position: fixed;
  /* display: flex; */
  top: 40;
  left: 20;
  width: 60%;
  height: 70%;
}

.table th {
  padding: 1rem;
  text-align: center;
}
.table td {
  padding: 0.15rem;
  text-align: center;
}

.table th {
  background: rgba(216, 243, 245, 0.884);
}
