.seat_inner {
  background-color: rgba(250, 247, 247, 1);
  /* height: 100%; */
  width: 70%;
  margin: auto;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column; */
  align-items: center;
  justify-content: top;
  text-align: center;
  margin-top: 6rem;
  margin-top: 3rem;
  margin-left: 12rem;
  position: absolute;
}

.seat-container {
  justify-content: center;
  display: grid;
  grid-template-columns: 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem 6.5rem;
  grid-template-rows: 3rem 3rem;
  background-color: rgba(250, 247, 247, 0.95);
  align-self: center;
  margin: 2rem;
  flex-wrap: wrap;
  /* margin-left: 3rem; */
  padding: 4px;
}

.seat-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0.5px solid rgba(133, 133, 133, 0.8);
  flex-wrap: inherit;
  font-size: 30px;
  text-align: center;
}

.standard-button {
  color: rgb(0, 0, 0);
  padding: 0px 0px;
  margin: 0px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  width: 100px;
}

.selected-seat {
  background-color: rgb(11, 138, 11);
  color: #ffffff;
  padding: 0px 0px;
  margin: 0px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  width: 100px;
}

.select-seats {
  color: #fd0909;
}
.selected-seats {
  color: #048f0b;
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: paleturquoise;
  border-width: 2rem;
  box-shadow: powderblue;
  align-items: center;
  align-self: center;
  /* padding: 2px 2px; */
  /* margin: 4px; */
}

.standard-unavailablebutton {
  color: rgb(255, 101, 101);
  padding: 0px 0px;
  margin: 0px 0;
  border: none;
  cursor: unset;
  width: 100%;
  opacity: 0.9;
  width: 100px;
}

.standard-button:hover {
  background-color: #ffffff;
  color: rgb(8, 131, 8);
}

.bookNow-button {
  background-color: #058f00;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 0px 0px;
  margin: 0px 0;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 1;
  height: 30px;
  width: 150px;
}
