.ticket-inner {
  background-color: rgba(250, 247, 247, 1);
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  position: center;
  width: 60%;
  margin: 6rem;
  margin-left: 14rem;
  text-align: center;
  justify-content: center;
}

.ticket-table th {
  padding: 3rem;
  border: 1px solid black;
  text-align: center;
  margin-left: 20rem;
}
.ticket-table td {
  padding: 3rem;
  border: 1px solid black;
  text-align: center;
}

.ticket-table th {
  border: 1px solid black;
  background: rgba(216, 243, 245, 1);
}
