/* Landing Page */
body {
  /* background: url('../../img/bookbus-ticket-300x175.jpeg'); */
  /* background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; */
  height: 100%;
  /* width: 100%; */
  text-decoration: none;
}

.page {
  position: absolute;
}

/* Overlay */
.dark_overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing_inner {
  color: #fff;
  height: 100%;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  text-align: center;
  margin-top: 4rem;
}

/* Text Styles*/
.x_large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: -1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.btn_primary {
  display: inline-block;
  background: #1a8f5e;
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  font-weight: bolder;
}

.btn_light {
  display: inline-block;
  background: #ffffff;
  color: #1a8f5e;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  font-weight: bolder;
}

.btn_light:hover {
  opacity: 0.8;
  background: #1a8f5e;
  color: rgb(255, 255, 255);
}

.btn_primary:hover {
  opacity: 0.8;
  background: rgb(248, 248, 248);
  color: #1a8f5e;
}
