.inner {
  background-color: rgba(250, 247, 247, 1);
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  position: center;
  width: 60%;
  margin: 6rem;
  margin-left: 14rem;
  text-align: center;
  justify-content: center;
}

.book-table {
  justify-content: center;
  text-align: center;
}

.book-table th {
  padding: 1rem;
  text-align: center;
}
.book-table td {
  padding: 0.15rem;
  text-align: center;
}

.book-table th {
  background: rgba(216, 243, 245, 0.884);
}
