/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  background: #0b1f16;
  align-items: center;
  padding: -1rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  opacity: 0.9;
  /* margin: 0 0rem; */
}

.navbar_ul {
  display: flex;
  list-style: none;
  margin-right: 1rem;
}

.navbar_li {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
  font-weight: bolder;
  text-decoration: none;
}

.navbar_li:hover {
  color: #fff;
  background: rgb(0, 0, 0);
  font-weight: 2000;
}
